<div class="becomeChef">
    <div ng-hide="ok" class="regForm">
        <form class="form-horizontal" name="registerForm" ng-submit="becomeChef()" novalidate>

            <div class="form-group">
                <label for="reg_chef_name" class="col-sm-2 control-label">Անուն</label>
                <div class="col-sm-10">
                    <input id="reg_chef_name" class="form-control" required name="name" type="text" ng-model="regChef.name"/>
                    <span class="help-block has-error" ng-show="!registerForm.name.$valid">Գրեք անունը</span>
                </div>
            </div>

            <div class="form-group">
                <label for="reg_chef_surname" class="col-sm-2 control-label">Ազգանուն</label>
                <div class="col-sm-10">
                    <input id="reg_chef_surname" class="form-control" required name="surname" type="text" ng-model="regChef.surName">
                    <span class="help-block has-error" ng-show="!registerForm.surname.$valid">Գրեք ազգանունը</span>
                </div>
            </div>

            <div class="form-group">
                <label for="reg_chef_phone" class="col-sm-2 control-label">Հեռ.</label>
                <div class="col-sm-10">
                    <input id="reg_chef_phone" class="form-control" required ng-remote-check="check-phone" name="phone" type="tel" ng-model="regChef.phone"/>
                    <span class="help-block has-error" ng-show="registerForm.phone.$error.required">Գրեք Հեռ.-ը</span>
                    <span class="help-block has-error" ng-show="registerForm.phone.$error.remote">Հեռը կա</span>
                </div>
            </div>

            <button class="btn btn-rj">Ընդունել</button>
        </form>
    </div>
    <div ng-show="ok==1">
        <span>Շնոհակալություն</span>
    </div>
    <div ng-show="ok===0">
        <span>Ներողություն</span>
    </div>
</div>