<div class="mid">
    <div class="text-center"><h2>{{tr.todays_offer}}</h2></div>
</div>
<div style="min-height: 1000px">
    <div class="popular">
        <h1 class="text-center text-danger">{{tr.popular_products}}</h1>
        <div class="boxes row"><div ng-repeat="a in popular track by $index" class="col-xs-6 col-sm-4"><offer-box></offer-box></div></div>
        <div ng-click="showMore('popular')" class="text-center"><span>{{tr.show_more}}</span><span class="caret"></span></div>
    </div>
    <div class="nweFood">
        <h1 class="text-center text-warning">{{tr.new_arrivals}}</h1>
        <div class="boxes row"><div ng-repeat="a in arrivals track by $index" class="col-xs-6 col-sm-4"><offer-box options="offer"></offer-box></div></div>
        <div ng-click="showMore('arrivals')" class="text-center"><span>{{tr.show_more}}</span><span class="caret"></span></div>
    </div>
</div>