<div class="portfolio-item grow col-sm-4">
    <div  class="inner-content">
        <div class="portfolio-content">
            <div class="portfolio-detail">
                <a ng-click="viewDish()" title="Project Title 1 - Lorem Ipsum">
                    <div class="portfolio-text">
                        <h4>{{opt.name}}</h4>

                        <p>{{opt.description}}</p>
                    </div>
                    <!-- //.portfolio-text -->
                </a>
            </div>
            <!-- //.portfolio-detail -->
        </div>
        <!-- //.portfolio-content -->

        <img src="assets/img/{{opt.files[0].path}}" alt="" class="img-responsive"/>
    </div>
    <!-- //.inner-content -->
</div>