<div ng-class="belongsTo" class="portfolio-item grow illustration logo">
    <div class="inner-content">
        <div class="portfolio-content">
            <div class="portfolio-detail">
                <a href="assets/img/portfolio/portfolio-image-7.jpg" title="Project Title 1 - Lorem Ipsum">
                    <div class="portfolio-text">
                        <h4>{{title}}</h4>

                        <p>{{description}}</p>
                    </div>
                    <!-- //.portfolio-text -->
                </a>
            </div>
            <!-- //.portfolio-detail -->
        </div>
        <!-- //.portfolio-content -->

        <img src="assets/img/portfolio/portfolio-image-7.jpg" alt="" class="img-responsive"/>
    </div>
    <!-- //.inner-content -->
</div>