<div class="portfolio-item grow dish-preview">
    <h1><small>{{opt.chef.name}} {{opt.chef.surName}}</small></h1>

    <div  class="inner-content">
        <div class="portfolio-content">
            <div ng-click="viewDish()" class="portfolio-detail">
            </div>
            <!-- //.portfolio-detail -->
        </div>
        <!-- //.portfolio-content -->

        <img src="assets/img/dishes/{{opt.files[0].path}}" alt="{{opt.name}}" class="img-responsive"/>
    </div>
    <!-- //.inner-content -->
    <h4 class="dish-name">{{opt.name}}</h4>
    <h2 class="dish-price">{{opt.price}} <small>դրամ</small></h2>
    <button class="btn btn-rj" ng-click="addDish(opt,1)">Ավելացնել</button>
</div>