<div class="order-popup">
            <div   role="menu">
                <div class="divider"></div>
                <div class="order-box-form">
                    <form class="form-horizontal" name="orderForm"  novalidate>
                        <div class="form-groupv row">
                            <div class="col-sm-4">
                                <label for="preliminary-order">Նախնական պատվեր</label>
                                <input type="checkbox" id="preliminary-order" ng-model="order.preliminary">
                            </div>
                            <div class="col-sm-8">
                                <label for="order_date_time">Առաքման ժամանակը</label>
                                <input type="datetime-local" id="order_date_time" ng-model="order.deliveryDateTime" ng-disabled="!order.preliminary">
                            </div>
                        </div>
                        <div class="form-group row" ng-class="{'has-error':!orderForm.phone.$valid && orderForm.phone.$touched}">
                            <label for="reg_chef_phone" class="col-sm-2">Հեռ. *</label>
                            <div class="col-sm-9">
                                <input id="reg_chef_phone"  reg-exp-check="^374(10|11|12|41|43|55|60|77|91|92|93|94|95|96|97|98|99)[0-9]{6}$" required name="phone" type="tel" ng-model="order.phone"/>
                                <span class="help-block has-error" ng-show="orderForm.phone.$touched && orderForm.phone.$error.required">Գրեք Հեռ.-ը</span>
                                <span class="help-block has-error" ng-show="order.phone.length && orderForm.phone.$touched && orderForm.phone.$error.regexp">Խնդրում ենք ներմուծել 37455123456 ֆորմատով</span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="order_location" class="col-sm-2 ">Հասցե</label>
                            <div class="col-sm-9">
                                <input id="order_location" ng-model="order.location">
                            </div>
                        </div>

                    </form>
                    <div class="row">
                        <div class="row">
                            <span style="padding-left: 20px;">Վճարումը` կանխիկ</span>
                        </div>
                        <div class="row col-md-10">
                            <div class="col-xs-12">
                                <h3>Գումար {{order.price()}} + {{chefs.length*400}}(առաքում)<small>դրամ</small></h3>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <button ng-disabled="orderForm.$invalid" ng-click="makeOrder()"  class="btn btn-sm btn-rj">Order</button>
                        </div>
                    </div>

                </div>
            </div>
        </li>
    </ul>
</div>