<div class="order-box">
    <ul class="">
        <li>

            <a ng-click="toggleBox()" class="order-box-toggle counter-item" role="button">
                <i class="fa fa-shopping-cart"></i><i class="caret"></i>
            </a>

            <div ng-show="isBoxOpen" class="order-window" role="menu">
                <div class="row">
                    <div class="col-xs-12">
                        <h4>Գումար {{order.price()+chefs.length*400}} <small>դրամ</small></h4>
                        <span ng-show="chefs.length">{{order.price()}} + {{chefs.length*400}} (առաքման գումար)</span>
                    </div>
                </div>
                <div class="dish-section">
                    <div class="row" ng-repeat="dish in order.dishes">
                        <div class="col-xs-6 dishname orderBoxDishName" title="{{dish.name}}" ng-bind="dish.name"></div>
                        <span class="col-xs-2 dishname orderBoxDishName" title="{{dish.price*dish.count}}">{{dish.price*dish.count}}</span>
                        <span class="col-xs-2"><input ng-model="dish.count" type="number" step="1" min="1" class="input-number"></span>
                        <div class="col-xs-2">
                            <button class="btn btn-link" ng-click="removeDish($index)">x</button>
                        </div>
                        <br clear="all"/>
                    </div>

                </div>

                <div class="divider"></div>
                <div class="order-box-form">
<!--                    <form class="form-horizontal" name="orderForm"  novalidate>

                        &lt;!&ndash;
                        <div class="form-group" ng-class="{'has-error':!orderForm.name.$valid && orderForm.name.$touched}">
                            <label for="reg_chef_name" class="col-xs-3 control-label">Անուն</label>
                            <div class="col-xs-9">
                                <input id="reg_chef_name" class="form-control" required name="name" type="text" ng-model="order.name"/>
                                <span class="help-block" ng-show="orderForm.name.$touched && !orderForm.name.$valid">Գրեք անունը</span>
                            </div>
                        </div>
                        &ndash;&gt;
                        &lt;!&ndash;<div class="form-group" ng-class="{'has-error':!orderForm.phone.$valid && orderForm.phone.$touched}">
                            <label for="reg_chef_phone" class="col-sm-2 control-label phone-lable">Հեռ.</label>
                            <div class="col-sm-9">
                                <input id="reg_chef_phone" class="form-control" reg-exp-check="^374(10|11|12|41|43|55|60|77|91|92|93|94|95|96|97|98|99)[0-9]{6}$" required name="phone" type="tel" ng-model="order.phone"/>|
                                <span class="help-block has-error" ng-show="orderForm.phone.$touched && orderForm.phone.$error.required">Գրեք Հեռ.-ը</span>
                                <span class="help-block has-error" ng-show="order.phone.length && orderForm.phone.$touched && orderForm.phone.$error.regexp">Խնդրում ենք ներմուծել 37455123456 ֆորմատով</span>
                            </div>
                        </div>
                        &ndash;&gt;
                    </form>-->
                    <button ng-disabled="chefs.length==0"  ng-click="openOrderWindow()"  class="btn btn-sm btn-rj">Պատվիրել</button>
                </div>
            </div>
        </li>
    </ul>
</div>