body{
    /*
    padding-top: 70px;
    */
    overflow-x: hidden;
}
.navbar{
}
.header{
    height: 65px;
}
.mid{
    height: 550px;
    background-image: url("/resources/multimedia/images/1.jpg");
}
.foodBox{
    margin-top: 20px;
    max-width: 330px;
    height: 200px;
}
.right-inner-addon i {
    position: absolute;
    right: 10px;
    padding: 10px 12px;
    pointer-events: none;
}
.become-chief-popup-content {
    padding-top: 30px;
}
.has-error{
    /*color: red;*/
}