body {
    overflow-x: hidden !important;
}

.header {
    height: 65px;
}

.mid {
    height: 550px;
    background-image: url("/resources/multimedia/images/1.jpg");
}

.foodBox {
    margin-top: 20px;
    max-width: 330px;
    height: 200px;
}

.right-inner-addon i {
    position: absolute;
    right: 10px;
    padding: 10px 12px;
    pointer-events: none;
}

.become-chief-popup-content {
    padding-top: 30px;
}

.selected-chef {
    opacity: 0.5;
}

/* popup-dish */
.popup-dish .ngdialog-content {
    width: 650px !important;
}

.popup-dish .dish-total-price {
    margin-top: 5px;
}

.popup-dish .dish-title {
    margin-top: 5px;
}

.popup-dish .small-hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* dish-preview */
.dish-preview {
    margin: 10px 0;
    padding: 10px;
    background-color: white;
    text-align: center;
}

.dish-preview .dish-name {
    margin-top: 10px;
}

.dish-preview .dish-price {
    margin-top: 10px;
}

/*icon scroll*/
.icon-scroll,
.icon-scroll:before {
    position: absolute;
    left: 50%;
}

.icon-scroll {
    width: 20px;
    height: 35px;
    margin-left: -10px;
    bottom: 60px;
    margin-top: -17px;
    box-shadow: inset 0 0 0 1px #FFF;
    border-radius: 25px;
}

.icon-scroll:before {
    content: '';
    width: 4px;
    height: 4px;
    background: #FFF;
    margin-left: -2px;
    top: 4px;
    border-radius: 2px;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: scroll;
    animation-name: scroll;
}

@-webkit-keyframes scroll {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(23px);
        transform: translateY(23px);
    }
}

@keyframes scroll {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(23px);
        transform: translateY(23px);
    }
}

.order-box .order-window {
    top: -5px;
    padding: 5px;
    color: #000;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.order-box li {
    list-style: none;
}
.order-box .counter-item {
    padding-top: 10px;
}
.order-box .counter-item .caret {
    padding-bottom: 10px;
    margin-left: 5px;
}

.order-box .counter-item .fa-shopping-cart {
    font-size: 36px;
}

.order-box .order-box-form {
    padding: 10px;
}
.input-number{
    width: 40px;
    height: 35px;
    line-height: 35px;
    padding-left: 5px;
    margin-top: 10px;
}
body.ngdialog-open, html.ngdialog-open {
    overflow: visible;
}
.portfolio-item > .inner-content > .portfolio-content {
    background-color: transparent !important;
}
.more{
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}
.moretwo{
    padding-bottom: 80px;
}
.phone-lable{
    margin-top: -20px;
}
#fun-fact{
    background-color: black;
}
.ngdialog.ngdialog-theme-default {
   overflow-y: hidden;
}
.rj{
    margin-top:5px ;
}
.dishname{
    font-size: 12px;
    word-break: break-all;
}
.img-size{
    width:100% !important;
    height: 100% !important;
}
.chefImage{
    height: 400px;
}
.btn-popup{
    background-color: #ff7932;
    border: none;
    border-radius:3px;
    color:#fff;
    text-transform: uppercase;
    font-size:12px;
    width: 70px;
    padding: 5px;
    text-align: center;
    margin:5px 0;
}
.btn-popup:hover{
    box-shadow: 2px 2px 2px rgb(70, 67, 67);
}
.ngdialog.ngdialog-theme-default .ngdialog-content {
    margin-top: -50px !important;
}
.btn-top{
    position:absolute;
    top:15px;
    right:45px;
    display:inline-flex;
}
.btn-top p{
    margin: 6px 10px;
}
.top-fb{
    margin:7px 10px 7px 0;
    color:#B7ADA4;
}
/*media query*/
@media screen and (max-width : 760px){
    .xs-left-menu{
        float: left;
        margin-left: 25px;
        margin-top: -10px;
    }
    .order-window {
        position: absolute;
        left: 80%;
        width: 100%;
        padding: 20px;
    }
    .ngdialog.ngdialog-theme-default {
        overflow-x: hidden;
    }
    #contact-us > .section-inner .section-content .social-icon-text > h4 {
        font-size: 24px;
    }
    .section > .section-inner .section-content .section-title > .sub-title {
        font-size: 14px;
    }
    .chefImage{
        height: 300px;
    }
    .timeline-panel > .timeline-body > p {
        font-size: 16px !important;
        word-break: break-all;
    }
    #intro .intro-body .intro-text h2 {
        font-size: 40px;
    }
    .section-title > .main-title {
        font-size: 25px !important;
        font-weight: 300;
    }
    .btn-top {
        position: absolute;
        top: 15px;
        right: 0;
        left: 0;
        display: inline-flex;
    }
    .bcm{
        background-color: #ff7932;
        border: none;
        padding: 8px 6px !important;

    }
}
