.order-box{
    position: absolute;
    right: 0;
    min-width: 350px;
}
.dish-section{
    overflow-y: scroll;
    overflow-x: hidden;
    height: 200px;
}
.order-window{
    background-color: white;
}
.order-box-toggle{
    position: absolute;
    right: 10px;
    z-index: 100;
}
