.fast {
    z-index: 1;
    font-size: initial;
    position: absolute;
    color: #fff;
    background: green;
    top: 18.5%;
    right: 0%;
    left: 25%;
    width: 200px;
    text-align: center;
}