.fast {
    z-index: 1;
    font-size: initial;
    position: absolute;
    color: #fff;
    background: green;
    border-radius: 6px;
    top: 20%;
    right: 0%;
    left: 25%;
    width: 200px;
    text-align: center;
}

.slow {
    z-index: 1;
    font-size: initial;
    position: absolute;
    color: #fff;
    border-radius: 6px;
    background: goldenrod;
    top: 20%;
    right: 0%;
    left: 25%;
    width: 200px;
    text-align: center;
}
.orderBoxDishName{
    white-space: nowrap;
    overflow: hidden;
}
.order-popup .ngdialog-content{
    width: 800px !important;
}



 #delivery .section-overlay{
    background-color: rgb(222,222,222);
}