
.fast {
    z-index: 1;
    font-size: initial;
    position: absolute;
    color: #fff;
    background: green;
    top: 20%;
    right: 0%;
    left: 25%;
    width: 200px;
    text-align: center;
}


.orderBoxDishName{
    white-space: nowrap;
    overflow: auto;
}

.order-popup .ngdialog-content{
    width: 800px !important;
}